.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.field {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: 1rem;
}
.field:first-child {
  margin-top: 0;
}

div.tab-content {
  padding: 0;
  padding-top: 20px;
}

.button {
  padding: auto;
}